body{
    background-color: #ffffff;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 50px;
    background-color: rgb(149, 221, 120);

}

.navbarcolor{
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3ch;
}
.card-title1{
    margin-top: 2cm;
}

.TamCarru{
    display: flex;
    width: 30%;
    height: auto;
    max-height: 500px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.Microtitulos2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2cm;
    margin-top: 0.5cm;
}
.Microtitulos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2cm;
}

.card1{
    position: absolute;
    margin-left: 2cm;

}
.card2{
    position: absolute;
    margin-left: 3cm;
    left: 300px;
    top:757px;
}
.card3{
    position: absolute;
    margin-left: 4cm;
    left: 600px;
    top:757px;
}
.card4{
    position: absolute;
    margin-left: 5cm;
    left: 900px;
    top:757px;
}
.cardh{
    position: absolute;
    margin-left: 2cm;
    top:200px;

}